
// Colores

@color1: #d5a839;
@color1a: lighten(@color1, 10%);
@color1b: darken(@color1, 10%);

@color2: #FFCA70;
@color2a: lighten(@color2, 24%);
@color2b: darken(@color2, 10%);

@color3: #E98C3D;
@color3a: lighten(@color3, 20%);
@color3b: darken(@color3, 10%);

@color3: #f74fc8;
@color3a: lighten(@color1, 10%);
@color3b: darken(@color1, 10%);

@gray: #F8F9FA;
@graycolor: #f7f1f9;
@darkgray: #E8EBF3;

@facebook: #3b5998;
@linkedin: #007bb5;
@twitter: #55acee;
@google: #dd4b39;
@slack: #00A57F;
@reddit: #ff4500;
@instagram: #5b80a2;
@whatsapp: #25D366;
@spotify: #00D95F;
@youtube: #dd4b39;
@snapchat: #FFFC00;
@vk: #4c75a3;
@telegram: #0088cc;
@twitch: #6441a5;

@radio: 15px;

.grad{
	background: linear-gradient(160.27deg, #D1B3FC 0%, rgba(255, 0, 167, 0.579354) 100%);
}

.gradborder{
	border: 1px solid #D1B3FC;
}




