//out: ../css/style.css,compress:true

@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700&display=swap');

@import "_plugins.less";
@import "_variables.less";
@import "_utilities.less";
@import "_theme.less";

.amelia-app-booking,
.am-modal.am-in-body {
  font-family: 'Heebo','Helvetica',sans-serif;
}

.amelia-app-booking h1, .am-modal.am-in-body h1, .amelia-app-booking h2, .am-modal.am-in-body h2, .amelia-app-booking h3, .am-modal.am-in-body h3, .amelia-app-booking h4, .am-modal.am-in-body h4, .amelia-app-booking p, .am-modal.am-in-body p, .amelia-app-booking span, .am-modal.am-in-body span, .amelia-app-booking div, .am-modal.am-in-body div, .amelia-app-booking section, .am-modal.am-in-body section, .amelia-app-booking ul, .am-modal.am-in-body ul, .amelia-app-booking li, .am-modal.am-in-body li, .amelia-app-booking a, .am-modal.am-in-body a,.amelia-app-booking input[type="text"], .am-modal.am-in-body input[type="text"], .amelia-app-booking input[type="email"], .am-modal.am-in-body input[type="email"], .amelia-app-booking input[type="tel"], .am-modal.am-in-body input[type="tel"], .amelia-app-booking input[type="url"], .am-modal.am-in-body input[type="url"], .amelia-app-booking textarea, .am-modal.am-in-body textarea, .amelia-app-booking select, .am-modal.am-in-body select, .amelia-app-booking .form-control, .am-modal.am-in-body .form-control, .amelia-app-booking .am-stripe-card, .am-modal.am-in-body .am-stripe-card{
  font-family: 'Heebo','Helvetica',sans-serif;
}

html{
  height: 100%;
}

//General
body{
  font-family: 'Heebo','Helvetica',sans-serif;
  height: 100%;
	font-size: 15px;
	font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #FFF;
  color: #696567;
  &.admin-bar .sidebar{
    top: 32px;
  }
}

nav.navbar.bg-light{
  background: #FFF !important;
}

.navbar-toggler{
  font-size: 30px;
  color: #555;
}

.sidebar{
  background: #FFF !important;
}

p{
  color: #838c84;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
	font-weight: 700;
}

.lead{
  font-size: 1.3rem;
}

.container-gray{
  height: 100%;
  background: @gray;
  -webkit-border-radius: 15px;
          border-radius: 15px;
}

.usernav{
  img.avatar{
  }
}

.front-main-container{
  background: @gray;
  height: 100%;
}

.persona-name{
  h3{
    font-size: 1.4rem;
  }
  p{
    font-size: 14px;
  }
}

body{
  ul#sidebarnav{
    .nav-item{
      padding: 10px 0;
      .nav-link{
        font-weight: 400;
        font-size: 14px;
        vertical-align: middle;
        color: #999;
        .animar;
        &:hover{
          color: #111;
          i{
            color: @color1;
          }
        }
        i{
          margin-right: 8px;
          vertical-align: inherit;
          font-size: 1.2rem;
        }
      }
    }
  }
}

.front-main-container{

  .amelia-app-booking{
    width: 100%;
  }

  .am-step-booking-catalog.am-desktop{
    max-width: 100%;
    margin: 30px auto;
  }

  .amelia-app-booking #am-step-booking, .amelia-app-booking .am-step-booking-catalog{
    border: none;
    -webkit-border-radius: @radio;
            border-radius: @radio;
  }
}

.image-salons{
  min-height: 200px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: #d4cee7;
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  background-position: 50%;
  h1{
    position: relative;
    z-index: 2;
    text-shadow: 0 3px 5px rgba(0,0,0,.2);
  }
  &.withimage{
    &:after{
      content:"";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(88, 76, 76, 0.4);
      z-index: 1;
    }
  }
}

.ameliahelper{
  &.ameliahp_services{
    background: @color1;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    color: #FFF;
    text-align: center;
    padding: 1.2rem 2rem;
  }
  &.ameliahelper_locations{
    font-size: 1.1rem;
    line-height: 2rem;
    h2{
      font-size: 1.4rem;
    }
    i{
      color: @color1;
    }
  }
  &.amelia-list-booking{
    li.list-group-item{
      border: none;
      padding: 0.8rem 0;
      h4{
        font-weight: 400;
        margin: 0;
      }
      .time{
        font-size: 0.8rem;
        color: #999;
      }
    }
  }
  .badge-primary{
    .grad;
  }
  .badge-secondary{
    color: #666 !important;
    background: @darkgray;
  }
  .badge-pill.badge-lg{
    padding: .5rem 1rem;
    font-size: 0.8rem;
  }
}

.boxwhite{
  background: #FFF;
  padding: 40px;
  -webkit-border-radius: @radio;
          border-radius: @radio;
  .shadow();
}

//Amelia styles

.amelia-app-booking #am-step-booking, .amelia-app-booking .am-step-booking-catalog{
  max-width: 100% !important;
}


@media (min-width: 768px) {
  .am-step-booking-catalog.am-desktop{
    .am-select-service{
      //width: 60% !important;
      transform: translateX(0) !important;
      .am-select-service-title{
        text-align: left !important;
      }
      .am-button-wrapper{
        text-align: left !important;
      }
      .am-select-service-title{
        font-size: 18px !important;
        font-weight: 700 !important;
      }
    }
    .am-select-date{
      //width: 40% !important;
      //transform: translateX(0) !important;
    }
  }
}

@media (max-width: 768px) {
  .logo{
    svg{
      width: 60px;
      height: 60px;
    }
  }
  body{
    background: #F8F9FA;
  }
  .container-gray{
    background: transparent;
    -webkit-border-radius: 0;
            border-radius: 0;
  }
  ul.amelia-list-booking{
    li.list-group-item{
      border: none;
      padding: 0.8rem 0;
      .time{
        font-size: 0.8rem;
        color: #999;
      }
    }
  }
  .boxwhite{
    padding: 17px 25px;
  }
  .image-salons{
    background-position: 50%;
  }
}