// out: ../css/login.css,compress: true, sourceMap: false

@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');


body.login{
	font-family: 'DM Sans',sans-serif;
	background-color: #ebeff4;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23dde1e8' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover{
	color: #63A282;
}

.login #backtoblog a, .login #nav a{
	color: #999;
}

.login #backtoblog, .login #nav{
	font-size: 15px;
	padding: 0;
	text-align: center;
	font-weight: 400;
	color: #777;
}

.login{
	label{
		font-size: 15px;
	}
	form{
		-webkit-box-shadow: 0px 15px 17px rgba(0,0,0,.13);
		        box-shadow: 0px 15px 17px rgba(0,0,0,.13);
		-webkit-border-radius: 8px;
		        border-radius: 8px;
	    p.submit{
	    	display: block;
	    	float: none;
	    	clear: both;
	    	.button.button-large{
				display: block;
				text-transform: uppercase;
				font-weight: 700;
			    float: none;
			    width: 100%;
			    margin: 40px 0 0;
			    padding: 20px 0;
			    line-height: 0px;
			    text-shadow: none;
			    height: 42px;
			    background: #444;
			    border: 1px solid #444;
			    -webkit-box-shadow: none;
			            box-shadow: none;
			    &:hover{
			    	background: #555;
			    }
	    	}
	    }
	    .forgetmenot label{
	    	color: #a0a1af;
	    	font-size: 15px;
	    }
	    .input{
	    	background: none;
	    	-webkit-box-shadow: none;
	    	        box-shadow: none;
	    }
	}
}

#loginform{
	margin-top: 60px;
}

#login{
	width: 400px;
	h1 a{
		width: 145px;
		height: 44px;
		-webkit-background-size: 115px;
		     -o-background-size: 115px;
		        background-size: 115px;
		background-image: url("data:image/svg+xml,%3Csvg width='90px' height='30px' viewBox='0 0 149 42' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient x1='-4.12678217%25' y1='0%25' x2='116.614935%25' y2='0%25' id='linearGradient-1'%3E%3Cstop stop-color='%2355FF00' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%230041FF' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M1.68450574e-15,29.2046637 L6.35029908,29.2046637 C6.38809848,31.3467216 7.12518677,33.1636456 8.56156394,34.6554359 C9.48782495,35.6043502 10.658952,36.2707689 11.9413972,36.5786979 C12.7548403,36.7883135 13.6504971,36.8931214 14.6283675,36.8931214 C15.3506944,36.8978072 16.0718601,36.8338384 16.7823663,36.7020574 C17.5999673,36.5448457 18.3310077,36.2902851 18.9754874,35.9383756 C19.3563381,35.7316289 19.7142535,35.484269 20.0431315,35.2005131 C21.2109875,34.2295793 21.9174811,32.803254 21.9873436,31.2753834 C21.9953481,31.1399352 21.9993189,31.0042738 21.9992504,30.8685837 C21.9992504,29.7053697 21.7885187,28.722892 21.3670554,27.9211503 C21.2769423,27.7494507 21.1756037,27.5840298 21.0637153,27.4259907 C20.5982521,26.7767828 20.0241139,26.2150089 19.3672782,25.7660871 C19.0925633,25.5758624 18.8070663,25.402096 18.5122558,25.2456818 C17.9090564,24.9264245 17.2906629,24.6374694 16.6593293,24.3798697 C16.0473484,24.1295537 15.4266581,23.9016211 14.7984648,23.696515 C13.399887,23.2375026 11.9257105,22.7402391 10.3759351,22.2047247 C8.19339779,21.4683923 6.3996273,20.5765695 4.99462363,19.5292562 C4.45323535,19.1291075 3.94864502,18.6803233 3.48699458,18.1883662 C2.37450341,16.9817211 1.63879543,15.4695711 1.37211819,13.8415188 C1.24817231,13.1362676 1.18744642,12.4211264 1.19068108,11.7048161 C1.1702694,10.4869032 1.31220615,9.35276009 1.61649131,8.30238672 C1.87179863,7.41527442 2.25362384,6.57059578 2.7499063,5.7950315 C3.71107185,4.30557388 5.02441534,3.08244309 6.57085858,2.2365379 C6.80530751,2.1051154 7.04374855,1.98112182 7.28583421,1.86473786 C9.23250328,0.927587551 11.5099171,0.459012396 14.1180756,0.459012396 C15.2616748,0.453240363 16.4031743,0.558724559 17.5268255,0.774009653 C18.6924497,0.997281643 19.8242793,1.37360085 20.893618,1.89342613 C22.0592072,2.4548006 23.1243829,3.20849867 24.0455209,4.12365262 C24.5763378,4.65733549 25.0497728,5.24643945 25.4578954,5.88109633 C26.3571125,7.29116364 26.9132243,8.8968478 27.0806236,10.5664654 C27.1262405,10.9826823 27.1523514,11.4008521 27.1588684,11.8195692 L20.8085693,11.8195692 C20.8085693,10.7867913 20.5439735,9.80182721 20.0147819,8.8646769 C19.5891736,8.11888074 19.0133076,7.47201456 18.3245818,6.96608688 C18.1203552,6.81357154 17.9085939,6.67166809 17.6901189,6.54092665 C17.0894999,6.18637146 16.4347498,5.93545848 15.7527107,5.7984741 C15.1944135,5.68142594 14.5928361,5.62290186 13.9479783,5.62290186 C13.8784367,5.62143309 13.8088824,5.62066803 13.7393257,5.62060679 C13.0094193,5.62060679 12.330353,5.69978643 11.702127,5.85814571 C10.8147662,6.07352711 9.98473885,6.48282633 9.27030268,7.05731559 C8.19504767,7.91724868 7.5338662,9.20092462 7.45309656,10.5853996 C7.43594844,10.7859389 7.42743552,10.9871385 7.42758196,11.1884272 C7.42758196,12.7567195 7.88117475,13.9616271 8.78836034,14.8031498 C9.21364215,15.1921841 9.67831391,15.534707 10.1746533,15.8250261 C10.6403419,16.1019636 11.1570597,16.3574805 11.7248067,16.5915768 C11.9905843,16.7008825 12.2592482,16.8028592 12.5305009,16.8973938 C13.2689107,17.155445 14.0069448,17.4145961 14.7446007,17.6748461 C15.4979427,17.9406908 16.2917301,18.2218359 17.1259628,18.5182814 C17.4085463,18.6185954 17.6910968,18.7190043 17.9736144,18.8195082 C19.0919525,19.1863755 20.1876304,19.6205333 21.2547912,20.1196609 C21.9346803,20.4386136 22.5993618,20.7897639 23.2466306,21.1719468 C24.7964059,22.0899716 26.0343363,23.2948791 26.9604215,24.7866694 C27.4549161,25.5976348 27.8140893,26.4854577 28.0235297,27.4145154 C28.2000528,28.1646181 28.3049462,28.9768788 28.3382096,29.8512974 C28.3458726,30.0564222 28.3496533,30.2616766 28.3495495,30.4669478 C28.3495495,32.4942526 27.8392576,34.3781159 26.8186738,36.1185379 C26.0743762,37.3716564 25.084045,38.4570084 23.908876,39.3075266 C23.3738645,39.7004419 22.8114522,40.0536566 22.2260468,40.3644026 C20.1848792,41.454557 17.6712192,41.9996343 14.6850666,41.9996343 C13.3921099,42.0060544 12.1013082,41.8921607 10.8289609,41.6593913 C9.51756635,41.4200797 8.24134817,41.0138817 7.03068827,40.4504674 C5.70242254,39.8380412 4.48996232,38.9957409 3.44787221,37.9614727 C2.86534735,37.3760756 2.3462543,36.7294104 1.89941981,36.0324731 C1.01985819,34.6458128 0.437851613,33.0876966 0.191075963,31.4589883 C0.0726826892,30.7133249 0.00881734041,29.959838 1.68450574e-15,29.2046637 Z' id='Path' fill='%23444444'%3E%3C/path%3E%3Cpolygon id='Path' fill='%23444444' points='38.709953 41.3111157 32.6998486 41.3111157 32.6998486 0 38.709953 0 38.709953 24.6145398 49.4827818 12.8523471 56.6835674 12.8523471 44.7200575 25.7620707 58.4412395 41.3111157 50.8435602 41.3111157 38.709953 26.7374721'%3E%3C/polygon%3E%3Cpath d='M112.727913,17.2129649 L112.727913,0 L118.738018,0 L118.738018,41.3111157 L113.351603,41.3111157 L112.727913,36.8931214 C111.820728,38.2319075 110.573347,39.4176895 108.985773,40.4504674 C107.596645,41.3543393 105.86014,41.8626956 103.776259,41.9755361 C103.471863,41.9918138 103.167091,41.9998494 102.86227,41.9996343 C101.48837,42.0093888 100.119916,41.8239756 98.7969446,41.4488194 C97.6931178,41.1303619 96.6380086,40.659254 95.6614844,40.0488316 C93.5825174,38.7482965 91.9571433,36.9696234 90.7853619,34.7128125 C89.6135805,32.4560015 89.0276898,29.8931823 89.0276898,27.0243548 C89.0190854,25.5742703 89.1856936,24.1285595 89.5238069,22.7193923 C89.807515,21.5532332 90.2311823,20.4265904 90.7853619,19.3645855 C91.9571433,17.1269 93.5919673,15.3673525 95.6898339,14.0859429 C97.4166126,13.0421369 99.3555964,12.4099318 101.359744,12.2372705 C101.878045,12.1878458 102.398372,12.1633376 102.918969,12.1638285 C103.94278,12.1581153 104.964318,12.2619705 105.966546,12.4736619 C106.947065,12.6815969 107.895723,13.0212125 108.787326,13.4834891 C110.469399,14.3632629 111.782928,15.6064215 112.727913,17.2129649 Z M103.939553,36.7209917 C105.031065,36.733263 106.115838,36.546485 107.141918,36.1696031 C108.334999,35.7146033 109.40421,34.9793169 110.261502,34.0242939 C111.529536,32.6276273 112.343002,30.8704985 112.591835,28.9906492 C112.684282,28.3586797 112.729768,27.7205848 112.727913,27.0817314 C112.736569,26.0322167 112.610009,24.9860366 112.351431,23.9696273 C111.984901,22.5265312 111.266304,21.1996105 110.261502,20.1104806 C108.729635,18.4348495 106.58302,17.4722131 104.327375,17.4493562 C104.198151,17.4447495 104.068857,17.4424541 103.939553,17.4424711 C102.844289,17.4304971 101.755674,17.6160437 100.724714,17.9904171 C99.5305534,18.4401376 98.4568275,19.1661449 97.5892538,20.1104806 C96.3570294,21.438489 95.5488949,23.1114599 95.2702606,24.9111765 C95.1503789,25.6282692 95.0915738,26.3544555 95.0944934,27.0817314 C95.0890141,28.0143198 95.1933191,28.9442495 95.4052045,29.8518712 C95.5877651,30.6240199 95.8643015,31.3702612 96.2284754,32.0734912 C96.9844634,33.5270304 98.0333967,34.6649987 99.3752754,35.4873959 C100.568521,36.2128751 101.919945,36.6298465 103.310193,36.7014837 C103.519733,36.7144882 103.729619,36.7209939 103.939553,36.7209917 Z' id='Combined-Shape' fill='%23444444'%3E%3C/path%3E%3Cpath d='M135.618818,24.327657 L142.9897,24.327657 L142.9897,23.8112681 C142.994267,23.1678232 142.93577,22.5255059 142.815067,21.8937438 C142.559543,20.606979 142.022414,19.5822338 141.203679,18.8195082 C140.303888,17.9884079 139.179668,17.4476485 137.974665,17.2663251 C137.514447,17.1909862 137.048901,17.15395 136.582702,17.1555883 C135.796644,17.1496512 135.013501,17.2529369 134.255204,17.4625529 C133.54147,17.6632268 132.86324,17.9759005 132.245221,18.3891841 C131.016741,19.2115813 130.270203,20.4260516 130.005607,22.032595 L123.995502,22.032595 C124.086907,20.935582 124.352053,19.8605825 124.780785,18.8487703 C125.110405,18.0845813 125.542551,17.3700204 126.065019,16.7252642 C127.255701,15.2525994 128.767676,14.1241939 130.600947,13.3400478 C132.104259,12.7050621 133.700405,12.3241789 135.325683,12.2125986 C135.762843,12.1799185 136.20105,12.1636507 136.639401,12.1638285 C137.841759,12.15549 139.041951,12.2683132 140.222217,12.5006288 C141.663509,12.7947793 142.939994,13.2822887 144.051675,13.9631571 C144.670123,14.340734 145.245674,14.7859732 145.767956,15.2908505 C147.328846,16.8121831 148.37113,18.7964715 148.744092,20.9567847 C148.919028,21.8978585 149.004655,22.8537014 148.999805,23.8112681 L148.999805,41.3111157 L143.783488,41.3111157 L143.273196,36.434109 C142.479409,38.0024013 141.326527,39.322062 139.814551,40.3930909 C139.003826,40.9567709 138.099975,41.3691116 137.145724,41.6106213 C136.410526,41.8049365 135.61088,41.9265748 134.746785,41.9755361 C134.45185,41.9918693 134.156522,41.9999052 133.861146,41.9996343 C131.994611,41.9996343 130.383601,41.7529151 129.028114,41.2594768 C128.664109,41.1277129 128.308823,40.9724781 127.964439,40.7947267 C127.274747,40.4431963 126.63067,40.0066896 126.046876,39.4951479 C125.434747,38.9564195 124.914135,38.319685 124.505794,37.6103282 C123.749806,36.2906676 123.371812,34.8466911 123.371812,33.2783987 C123.358285,32.1918806 123.550159,31.1127641 123.937102,30.0991641 C124.453442,28.7867712 125.323395,27.6662072 126.546962,26.7374721 C127.524391,26.0127001 128.617291,25.4627288 129.778243,25.1114207 C131.430077,24.5889116 133.376935,24.327657 135.618818,24.327657 Z M142.933001,28.4587686 L136.242508,28.4587686 C133.861146,28.4587686 132.169622,28.8795299 131.167938,29.7210527 C130.752989,30.0612074 130.40454,30.4768691 130.140551,30.9466158 C129.820185,31.5377085 129.656495,32.2026631 129.665412,32.8767629 C129.659858,33.3607732 129.73756,33.8420713 129.895044,34.2991276 C130.132136,34.956977 130.555059,35.5298062 131.111239,35.9464083 C131.922036,36.5741077 132.98042,36.9376838 134.286389,37.0371365 C134.541096,37.0562119 134.796423,37.06559 135.051827,37.065251 C135.697936,37.0696144 136.342427,36.9993517 136.972792,36.8558266 C137.75709,36.6782665 138.500435,36.3500681 139.162511,35.8890317 C140.285205,35.0954258 141.18366,34.0189143 141.768969,32.7660261 C141.769536,32.7646875 141.770103,32.7633487 141.77067,32.7620098 C142.296775,31.6537604 142.655336,30.4718054 142.834345,29.2557288 C142.874581,28.9910602 142.907479,28.7253025 142.933001,28.4587686 Z' id='Combined-Shape' fill='%23444444'%3E%3C/path%3E%3Cpolygon id='Path' fill='url(%23linearGradient-1)' points='82.2393295 7.74583419 61.7709548 7.74583419 61.7709548 3.32783987 82.2393295 3.32783987'%3E%3C/polygon%3E%3Cpath d='M85.6979745,28.5161451 L63.8121223,28.5161451 C64.0011193,31.2702195 64.8988551,33.3644636 66.5053295,34.7988773 C68.111804,36.233291 69.9734244,36.9504979 72.0901908,36.9504979 C72.7409214,36.9546594 73.3902849,36.8896587 74.027599,36.7565652 C74.8639157,36.5848049 75.6595995,36.2512732 76.3709727,35.7742786 C77.5238544,34.9901325 78.3837908,33.9286663 78.9507817,32.5898801 L84.9608862,32.5898801 C84.2048982,35.2674525 82.7023721,37.5051379 80.4533079,39.3029364 C78.2042436,41.100735 75.4165379,41.9996343 72.0901908,41.9996343 C70.695352,42.0088644 69.3053983,41.8319591 67.9562595,41.4734913 C66.8337665,41.1703484 65.7551361,40.7203552 64.7476575,40.1348964 C62.6119914,38.8917378 60.939368,37.1608786 59.7297872,34.9423187 C58.8899721,33.3804404 58.3381755,31.6768856 58.1013891,29.9149854 C57.9751581,29.0144931 57.9130072,28.1059886 57.915416,27.1964845 C57.9073432,25.8040383 58.052441,24.4150083 58.3480302,23.0550451 C58.6318776,21.7593919 59.087117,20.5083994 59.7014377,19.3358972 C60.8921187,17.0790862 62.5552923,15.3195387 64.6909584,14.0572546 C66.2741617,13.1335159 68.0244127,12.5405918 69.8381026,12.3135813 C70.6035941,12.2122089 71.3748732,12.1621821 72.1468899,12.1638285 C73.3730151,12.1561547 74.5958188,12.2936452 75.790374,12.5734971 C77.0434616,12.8691328 78.2435448,13.3600117 79.3476754,14.0285664 C81.388843,15.2717249 82.9764178,16.9260821 84.1103998,18.9916379 C85.2481397,21.07651 85.8340785,23.423563 85.8113727,25.8051032 C85.8113748,25.8098845 85.8113748,25.8146659 85.8113727,25.8194473 C85.8113727,26.2019576 85.8019229,26.6131562 85.7830232,27.0530431 C85.7641235,27.49293 85.7357739,27.9806307 85.6979745,28.5161451 Z M63.9255205,24.3850336 L79.8012682,24.3850336 C79.7663886,23.5563259 79.6146002,22.7369216 79.3505104,21.9516941 C78.977718,20.856141 78.3323506,19.8762271 77.4766052,19.106391 C76.2779835,18.0251099 74.7682012,17.3614518 73.1691746,17.2129649 C72.8108013,17.1741341 72.4506121,17.1549806 72.0901908,17.1555883 C70.0868226,17.1555883 68.3102508,17.7580421 66.7604755,18.9629496 C65.2107001,20.1678572 64.2657151,21.9752185 63.9255205,24.3850336 Z' id='Combined-Shape' fill='%23444444'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	}
	#login_error{
		background: #de6b6b;
	    border-left: none;
	    box-shadow: 0 15px 17px rgba(0,0,0,.13);
	    border-radius: 8px;
	    color: #ffffff;
	    padding: 20px;
	    font-size: 15px;
	    a{
	    	color: #FFF;
	    }
	}
	p.message{
		background: #51CF7F;
	    border-left: none;
	    box-shadow: 0 15px 17px rgba(0,0,0,.13);
	    border-radius: 8px;
	    color: #ffffff;
	    padding: 20px;
	    font-size: 15px;
	}
}

@media (max-width: 768px) {
	#login{
		width: 100%;
    	padding: 0 15px;
    	box-sizing: border-box;
	}
	#login h1 a{
		margin-top: 40px;
	}
}