// out: panel.css, compress: true

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://unpkg.com/boxicons@2.0.3/css/boxicons.min.css');

@color1: #513BAC;
@color1a: lighten(@color1, 10%);
@color1b: darken(@color1, 10%);

@color2: #222A3B;
@color2a: lighten(@color2, 3%);
@color2b: lighten(@color2, 7%);
@color2c: darken(@color2, 6%);

@color3: #449c8c;
@color3a: lighten(@color3, 3%);
@color3b: lighten(@color3, 7%);
@color3c: darken(@color3, 6%);

@gray: #97A2AE;

.shadowbtn{
	-webkit-box-shadow: 0 5px 8px 0 rgba(164,173,186,0.4);
	        box-shadow: 0 5px 8px 0 rgba(164,173,186,0.4);
}

a{
	color: @color3c;
}

.animar{
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

.btnborderwhite{
	border: 1px solid #DEE3E7;
}

.radiusbtn{
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}


body{
	background: #F7F7F8;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
}


@media (min-width: 768px) {
	#wpadminbar{
		display: none;
	}
	html.wp-toolbar{
		padding-top: 0;
	}
}

.dashicons-admin-settings:before{
	font-family: 'boxicons'!important;
	content:"\eb4a";
}
.dashicons-admin-users:before{
	font-family: 'boxicons'!important;
	content:"\eb8c";
}
.dashicons-businessman:before{
	font-family: 'boxicons'!important;
	content:"\eb8e";
}

.dashicons-admin-site-alt3:before{
	font-family: 'boxicons'!important;
	content:"\e9a0";
}

.dashicons-admin-customize:before{
	font-family: 'boxicons'!important;
	content:"\eae7";
}
.dashicons-redo:before{
	font-family: 'boxicons'!important;
	content:"\eab5";
}

.dashicons-networking:before{
	font-family: 'boxicons'!important;
	content:"\eb5f";
}

.dashicons-employees:before{
	font-family: 'boxicons'!important;
	content:"\ed53";
}

.dashicons-customers:before{
	font-family: 'boxicons'!important;
	content:"\ec5f";
}

.dashicons-finance:before{
	font-family: 'boxicons'!important;
	content:"\eaa1";
}

.dashicons-customize:before{
	font-family: 'boxicons'!important;
	content:"\ece1";
}

.dashicons-services:before{
	font-family: 'boxicons'!important;
	content:"\ec37";
}

.dashicons-locations:before{
	font-family: 'boxicons'!important;
	content:"\ecbb";
}

.dashicons-calendar:before{
	font-family: 'boxicons'!important;
	content:"\e9c2";
}

.dashicons-notifications:before{
	font-family: 'boxicons'!important;
	content:"\eab7";
}

.dashicons-settings:before{
	font-family: 'boxicons'!important;
	content:"\e9fc";
}

.dashicons-home:before{
	font-family: 'boxicons'!important;
	content:"\ea81";
}
.dashicons-appointments:before{
	font-family: 'boxicons'!important;
	content:"\ebe1";
}

.wp-admin #wpadminbar #wp-admin-bar-site-name>.ab-item:before{
	font-family: 'boxicons'!important;
	content:"\ea81";
}

#collapse-button .collapse-button-icon:after{
	font-family: 'boxicons'!important;
	content:"\eac3";
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap{
	background-color: #19253b;
	width: 235px;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after{
	border-right-color: @color2;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu{
	background: @color2a;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar>.ab-empty-item img, #wpadminbar #wp-admin-bar-my-account.with-avatar>a img{
	-webkit-border-radius: 30px;
	        border-radius: 30px;
}

#wpcontent, #wpfooter{
	margin-left: 235px;
}

#adminmenu .wp-submenu-head, #adminmenu a.menu-top{
	padding: 5px 7px;
}

#adminmenu .wp-submenu{
	left:235px;
}

#adminmenu .wp-submenu a{
	line-height: 1.8;
}

.wrap h1{
	font-size: 27px;
	font-weight: 300;
}

.wp-core-ui .button-primary{
	background: @color3;
	border: 1px solid @color3;
	.shadowbtn;
	text-shadow: none;
	padding-left: 20px;
	padding-right: 20px;
	height: 38px;
	line-height: 38px;
	text-transform: uppercase;
	&:hover{
		background: @color3a;
		border: 1px solid @color3a;
	}
}

#adminmenu div.wp-menu-name{
	font-weight: 300;
}

#adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:hover, #dashboard_right_now .versions .b, #ed_reply_toolbar #ed_reply_strong, #pass-strength-result.short, #pass-strength-result.strong, #post-status-display, #post-visibility-display, .feature-filter .feature-name, .item-controls .item-order a, .media-item .percent, .plugins .name{
	font-weight: 300;
}

#adminmenu .wp-submenu a{
	color: rgba(240,245,250,.5);
}

.am-page-header .am-logo, .am-page-header .am-logo{
	display: none !important;
}

.am-page-header h1.am-page-title{
	border-left: none !important;
	font-size: 25px;
	padding-left: 0 !important;
}

html.wp-toolbar{
	padding-top: 0;
}

.folded #adminmenu, .folded #adminmenu li.menu-top, .folded #adminmenuback, .folded #adminmenuwrap{
	width: 50px;
}

.folded #adminmenu .opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, .folded #adminmenu .wp-has-current-submenu a.menu-top:focus+.wp-submenu, .folded #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-submenu.sub-open, .folded #adminmenu a.menu-top:focus+.wp-submenu, .no-js.folded #adminmenu .wp-has-submenu:hover .wp-submenu{
	left: 53px;
}

#adminmenu li.opensub>a.menu-top{
	background: @color2a;
}

#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu{
	background: @color2b;
}

#adminmenu li.menu-top:hover{
	background: @color2a;
}

#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus{
	color: #fff;
}

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus{
	color: #FFF;
}

#contextual-help-link-wrap{
	display: none;
}

#wpbody{
	padding-top: 15px;
}

#screen-meta-links .show-settings{
	.shadowbtn;
	.btnborderwhite;
	.radiusbtn;
	padding: 7px 14px 7px 24px;
}

a.toplevel_page_amelia{
	.wp-menu-image.dashicons-before{
		position: relative;
		&:after{
			font-family: 'boxicons'!important;
			content:"\ebe1";
			font-size: 19px;
			position: relative;
			top: 5px;
			color: rgba(240,245,250,.6);
		}
		img{
			display: none;
		}
	}
}

input,select{
	padding: 12px;
}

.wp-admin select{
	height: 42px;
	line-height: 42px;
}

.wrap .page-title-action{
	padding: 10px 20px;
	.shadowbtn;
	text-transform: uppercase;
	font-weight: 400;
	background: @color2;
	color: #FFF;
	.radiusbtn;
	border: 1px solid @color2;
	&:hover{
		background: @color2b;
		border: 1px solid @color2b;
	}
}

.user-admin-color-wrap{
	display: none;
}

.show-admin-bar.user-admin-bar-front-wrap{
	display: none;
}

.username.column-username{
	.row-actions{
		span.view a{
			display: none;
		}
	}
}

ul.subsubsub{
	margin: 15px 0;
	a{
		color: @gray;
		font-size: 15px;
		span.count{
			color: inherit;
		}
	}
}

.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary{
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	.shadowbtn;
}

.tablenav{
	margin: 30px 0;
	.actions{
		overflow: visible;
	}
}

th.sortable a, th.sorted a{
	color: @gray;
	padding: 14px 8px;
}

.column-author img, .column-comment .comment-author img, .column-username img{
	-webkit-border-radius: 200px;
	        border-radius: 200px;
}

#customize-save-button-wrapper{
	margin-top: 2px;
}

.wp-core-ui .button-primary-disabled, .wp-core-ui .button-primary.disabled, .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary[disabled]{
	background: @color2a !important;
	border: 1px solid @color2a !important;
	color: rgba(255,255,255,0.6) !important;
	text-shadow: none;
}
.wp-list-table a{
	color: @color2;
}

.search-box input[name="s"], .tablenav .search-plugins input[name="s"], .tagsdiv .newtag{
	height: 40px;
	line-height: 40px;
}

.am-body a.am-help-button{
	display: none !important;
}

input[type=checkbox], input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=radio], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
	-webkit-box-shadow: none;
	box-shadow: none;
	    -webkit-border-radius: 4px;
	            border-radius: 4px;
}

.form-table th{
	font-weight: 400;
	line-height: 2.8;
}

.user-syntax-highlighting-wrap{
	display: none;
}

.user-rich-editing-wrap{
	display: none;
}

.user-comment-shortcuts-wrap{
	display: none;
}

#adminmenu li a:focus div.wp-menu-image::before, #adminmenu li.opensub div.wp-menu-image::before, #adminmenu li:hover div.wp-menu-image::before{
	color: #FFF;
}

#adminmenu .wp-has-current-submenu ul>li{
	a[href$='admin.php?page=wpamelia-events']{
		display: none;
	}
}

#adminmenu .toplevel_page_amelia ul.wp-submenu.wp-submenu-wrap{
	li>a[href$='admin.php?page=wpamelia-events']{
		display: none;
	}
}

.cmb2-wrap input.regular-text, .cmb2-wrap textarea{
	padding: 11px !important;
}

.cmb-th label{
	font-size: 15px !important;
}

#am-settings .am-section.am-settings-cards{
	.el-row{
		display: block;
		&::before,&::after{
			display: block;
		}
	}
	.el-row:nth-child(1){
		.el-col.el-col-24.el-col-md-8:nth-child(2){
			display: none;
		}
		.el-col.el-col-24.el-col-md-8:nth-child(3){
			display: none;
		}
	}
	.el-row:nth-child(3){
		.el-col.el-col-24.el-col-md-8:nth-child(2){
			display: none;
		}
		.el-col.el-col-24.el-col-md-8:nth-child(3){
			display: none;
		}
	}
	.el-row:nth-child(2){
		.el-col.el-col-24.el-col-md-8:nth-child(2){
			display: none;
		}
	}
	.el-row:nth-child(4){
		display: none;
	}
}

#am-notifications{
	.am-notifications.am-section{
		.el-tabs__header{
			display: none;
			margin-top: 0 !important;
		}
	}
}

#tab-sms{
	display: none;
}

#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat{
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,.15);
	        box-shadow: 0 10px 20px rgba(0,0,0,.15);
	    -webkit-border-radius: 8px;
	            border-radius: 8px;
}

.am-bottom-popover{
	margin-left: 235px;
}

.am-customize-notifications.el-row{
	#pane-customer{
		.am-email-notification-buttons:nth-child(2){
			display: none;
		}
	}
}

#collapse-menu{
	#collapse-button{
		color: #fff;
		.collapse-button-icon{
			left: 8px;
			&::after{
				top: 5px;
			}
		}
		.collapse-button-label{
			padding:  0 0 0 44px;
		}
	}
}

.am-bottom-popover{
	margin-left: 230px !important;
}

#wpadminbar{
	background-color: #19253b;
}

#adminmenu{
	margin: 0 0 12px;
}


body.folded{
	ul#adminmenu{
		li.menu-top{
			.wp-menu-name{
				
			}
			&:hover{
				.wp-menu-name{
					left: 10px;
					background-color: #273145;
					padding: 0 20px;
					height: 45px;
					line-height: 45px;
					left: 50px;
					top:0;
				}
			}
		}
	}
}

@media only screen and(max-width:768px){
	body.folded ul#adminmenu li.menu-top:hover .wp-menu-name{
		left: 5px;
	}
	.auto-fold #adminmenu div.wp-menu-image{
		width: 44px;
	}
	.auto-fold #adminmenu .wp-menu-name{
		display: block;
		font-size: 15px;
	}
	body.folded ul#adminmenu li.menu-top:hover .wp-menu-name{
		display: block;
		position: absolute;
	}
}

.am-side-dialog.am-dialog-coupon{
	.el-tabs__header.is-top{
		display: none;
	}
}

.am-dialog-settings{
	form.el-form{
		.el-form-item:last-child{
			display: none;
		}
	}
}

#am-button-new.am-button-new{
	right: 100px;
	bottom: 30px;
	button#am-plus-symbol{
		padding: 22px !important;
	}
}